.solc-primary-btn{
    color: $brand-green;
    border: 2px solid $brand-green;
    padding: 5px 15px;
    background: transparent;
    transition: .2s ease-in-out all;
    &:hover{
        color: $white;
        background: $brand-green;
    }
}
.solc-white-btn{
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    background: transparent;
    transition: .2s ease-in-out all;
    &:hover{
        color: $brand-red;
        background: white;
    }
}
.solc-red-btn{
    color: $brand-red;
    border: 2px solid $brand-red;
    padding: 5px 15px;
    background: transparent;
    transition: .2s ease-in-out all;
    &:hover{
        color: $white;
        background: $brand-red;
    }
}
.solc-btn-large{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px 40px;
}