//Precargador
.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: White;
  &__grid {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: paper-plane-scoping 1.5s alternate infinite;
  }
  &__item {
    width: 100%;
    height: 100%;
    background: fn-url('plane.png') no-repeat center center;
    animation: cd-loader-scale-delay 1.5s infinite ease-in-out;
  }
}
@-webkit-keyframes paper-plane-scoping {
  0% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
  100% {
    transform: translateY(100px);
    transform: translateX(-100px);
  }
}

@keyframes cd-loader-scale-delay {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
