.portal--login,
.portal--registro {
    background: #b6b6b7 fn-url('login-bg.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include MQ(M){
        padding-top: 20vh;
    }
}
.portal-login-info{
    color: white;
    background: radial-gradient(farthest-corner at 45px 45px , $brand-red 0%, #9E423D 100%);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include MQ(M){
        min-height: 400px;
        padding: 40px 10px;
    }
}
.portal-login-form {
    &--container{
        //border: 1px solid $brand-red;
        background: white;
        display: table;
        padding: 0;
        height: 100vh;
        max-width: 1024px;
        @include MQ(S){
            height: auto;
            box-shadow: 6px 6px 16px 2px #999999;
        }
    }
    margin: 0 auto;
    padding: 0 0 20px;
    &--top-btn-wrap {
        width: 100%;
        height: 15%;
        padding: 0 0 25px 0;
        text-align: center;
    }
    &--top-btn{
        width: 50%;
        margin: 0;
        background: #DBDBDC;
        padding: 10px 0;
        display: inline-block;
        color: #777;
        &:hover{
            color: $white;
        }
        &__active{
            color: #fff !important;
            background: $brand-green !important;
            transition: all 0.3s ease;
        }
    }
    &--reg,
    &--ing{
        max-width: 460px;
        padding: 25px;
        margin: 25px auto;
        input{
            border-radius: 0;
        }
        
        .form-group{
            padding: 0;
        }
        &-terms{
            input[type="checkbox"] {
                display:none;
            }
            
            input[type="checkbox"] + label {
                cursor: pointer;
            }
            
            input[type="checkbox"] + label span {
                display:inline-block;
                width:19px;
                height:19px;
                margin:-2px 10px 0 0;
                vertical-align:middle;
                background: fn-url('uncheck.png') left top no-repeat;
                background-size: contain;
                cursor:pointer;
            }
            
            input[type="checkbox"]:checked + label span {
                background: fn-url('check.png') top no-repeat;
                background-size: contain;
            }
            
        }
    }
    &--reg{
        //display: none;
        &__space{
            padding-right: 8px !important;
        }
    }
    &--link{
        color: $brand-green;
        &:hover{
            color: #777;
        }
    }
}
.portal-reg{
    background: radial-gradient(farthest-corner at 45px 45px , $brand-green 0%, #044133 100%);
}
.portal-home--link{
    padding: 5px 10px 0 0;
    color: grey;
    &:hover{
        color: $brand-green;
    }
}