$primary-font: 'Roboto', sans-serif;
$display-font: 'Satisfy', cursive;
$font-light: 300;
$font-regular: 400;
$font-bold: 500;

// Colores
$palette: (
    dark-grey: #2d2d2d,
    brand-red: #cf5b57,
    brand-green: #4cb29d,
    gradient-yellow: #f0d471,
    gradient-green: #b3e297
);
$dark-grey: map-get($palette,dark-grey);
$brand-red: map-get($palette,brand-red);
$brand-green: map-get($palette,brand-green);
$gradient-yellow: map-get($palette,gradient-yellow);
$gradient-green: map-get($palette,gradient-green);
$white:white;

//Gradientes
$gradient-yellow-green: linear-gradient(to right, $gradient-yellow, $gradient-green);
$gradient-red-yellow: linear-gradient(to right, $brand-red, $gradient-yellow);