extends ../../layout/_header

block append config
    -var pageTitle = 'Amable Conti'
    -var pageDescription = 'Hoja de cálculo formulada en Microsoft Excel 2010 que calcula las depreciaciones de los activos fijos.'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--amable-bg',
            'Amable Conti',
            'Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.'
        )(class="col-sm-4")
            block button
                a(href="" class="solc-red-btn") Agregar al carrito

    include ../../layout/_footer
    include ../../layout/_scripts