extends ../../layout/_header

block append config
    -var pageTitle = 'Contadito Jireh'
    -var pageDescription = 'Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--contadito-bg',
            'Contadito',
            'Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.'
        )(class="col-sm-4")
            block button
                a(href="" class="solc-white-btn") Agregar al carrito
        
        +productArticle(
            'contadito-sec01',
            'Poder de trabajo',
            [
                'Formula el estado situación financiero, el estado de resultados, el flujo del efectivo, el estado de movimientos de las cuentas de patrimonio y la ganancia (pérdida), monetaria neta.',
                'Elabora los balances antes y después del aumento del capital social y genera reporte casi listo para entrega',
                'Puede reexpresar cualquier tipo de entidades: comerciales, industriales, de servicios y cooperativas.'
            ]
        )(class="fr col-sm-6")

        +productArticle(
            'contadito-sec02',
            'Casos Especiales',
            [
                'Determine el impuesto diferido y maneje valor razonable de propiedades de inversión y en inversiones en asociadas.',
                'Modele con naturalidad corrección de errores de ejercicios anteriores,  aumentos de capital y decretos de dividendos.',
                'Incluye libro de Excel con modelo de hoja transición y para el BA VEN-NIF N° 9.'
            ],
            '.col-sm-offset-6 solc-product-article-fr'
        )(class="fl col-sm-6")
            p Bs. 50.000 incluye IVA
            a(href="" class="solc-red-btn") Agregar al carrito

        +productArticle(
            'contadito-sec03',
            'Reportes y manejo de datos',
            [
                'Genere estados financieros comparativos (reexpresados e históricos), casi listos para entregar.',
                'Disponga de cuadros requeridos para las notas de los estados financieros.',
                'Incluye de modelo de notas en Word conforme a NIIF-PYMES.',
                'Incluye libro de Excel con modelo de hoja transición y para el BA VEN-NIF N° 9.',
                'Elabora con un clic 19 cuadros requeridos por el Registro Nacional de Contratistas (RNC).'
            ]
        )(class="fr col-sm-6")

        section.container.text-center.solc-product--container
            ul.solc-product-feature
                +productFeature(
                    'feature-accesible',
                    'Accesibles',
                    'Solo pagas por una licencia de uso*, costando solo una fracción de la competencia. Es Multiempresa.'
                )
                +productFeature(
                    'feature-facil',
                    'Fáciles',
                    'Tus datos se cargan con facilidad. Incluye manual de usuario.'
                )
                +productFeature(
                    'feature-confiable',
                    'Confiables',
                    'Resultados precisos. Puedes respaldar tus datos. Soporte telefónico y por email.'
                )
                +productFeature(
                    'feature-rapido',
                    'Rápidos',
                    'No requiere incluir catálogo de cuentas ni configuraciones previas. Solo requerirás incluir una sola vez los datos para obtener todo lo que necesitas.'
                )
                +productFeature(
                    'feature-flexible',
                    'Flexibles',
                    'Puede cambiar el nombre de cada una de las cuentas del balance e incluir detalles en los auxiliares de cada partida. '
                )

            a(href="" class="solc-red-btn solc-btn-large dib") Agregar al carrito

    include ../../layout/_footer
    include ../../layout/_scripts