extends ../../layout/_header

block append config
    -var pageTitle = 'CreatIVA'
    -var pageDescription = 'Aplicación en Exel que elabora libro de compras y ventas de IVA para contribuyentes ordinarios y especiales.'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--creativa-bg',
            'Creativa',
            'Aplicación en Excel que elabora libro de compras y ventas de IVA para contribuyentes ordinarios y especiales.'
        )(class="col-sm-4 col-sm-offset-8")
            block button
                a(href="" class="solc-red-btn") Agregar al carrito
        
        +productArticle(
            'creativa-sec01',
            'Poder de trabajo',
            [
                'Podrá incluir con rapidez y exactitud  las facturas de compras y ventas , notas de crédito y notas de débitos.',
                'Puede registrar las retenciones de ISLR e IVA tanto en compras como en ventas.',
                'Maneja cuentas de terceros.',
                'Series de facturas.',
                'Observe y modifique el  asiento contables de las operaciones registradas atendiendo al catálogo de cuentas previamente'
            ]
        )(class="fr col-sm-6")

        +productArticle(
            'creativa-sec02',
            'Proveedores/Clientes',
            [
                'Valide el RIF de proveedores y clientes  con el portal del SENIAT con un clic.',
                'Lleva un control de sus proveedores, clientes y maquinas fiscales. Basta con incluirlos una sola vez.',
                'Predetermine las cuentas contables asociadas con el proveedor o cliente para obtener los asientos contables de las compras o ventas al momento en que son incluidas.'
            ],
            '.col-sm-offset-6 solc-product-article-fr'
        )(class="fl col-sm-6")

        +productArticle(
            'creativa-sec03',
            'Reportes  legales',
            [
                'Crea su  TXT para la declaración quincenal de retenciones de IVA',
                'Emite cada comprobante de retención de IVA con tan solo unos clics.',
                'Genera libro de Excel con libro de compras y ventas, asientos y planilla IVA.',
                'Genera libro de ventas por sucursal.',
                'Determina el prorrateo para los créditos que no son totalmente deducibles.'
            ]
        )(class="fr col-sm-6")
            p Bs. 45.000 incluye IVA
            a(href="" class="solc-red-btn") Agregar al carrito
        
        +productArticle(
            'creativa-sec04',
            'Reportes contables',
            [
                'Reporte de los detalles (auxiliares),  que componen los asientos contables, útil para revisión y conciliación.',
                'Asientos contables de las operaciones incluidas para su posterior  registro en su contabilidad'
            ],
            '.col-sm-offset-6 solc-product-article-fr'
        )(class="col-sm-6")

        section.container.text-center.solc-product--container
            ul.solc-product-feature
                +productFeature(
                    'feature-accesible-red',
                    'Accesibles',
                    'Solo pagas por una licencia de uso*, costando solo una fracción de la competencia. Es Multiempresa.'
                )
                +productFeature(
                    'feature-facil-red',
                    'Fáciles',
                    'Tus datos se cargan con facilidad. Incluye manual de usuario.'
                )
                +productFeature(
                    'feature-confiable-red',
                    'Confiables',
                    'Resultados precisos. Puedes respaldar tus datos. Soporte telefónico y por email.'
                )
                +productFeature(
                    'feature-rapido-red',
                    'Rápidos',
                    'No requiere incluir catálogo de cuentas ni configuraciones previas. Solo requerirás incluir una sola vez los datos para obtener todo lo que necesitas.'
                )
            a(href="" class="solc-red-btn solc-btn-large dib") Agregar al carrito

    include ../../layout/_footer
    include ../../layout/_scripts