extends ../../layout/_header

block append config
    -var pageTitle = 'Deprecia Fácil'
    -var pageDescription = 'Hoja de cálculo formulada en Microsoft Exel 2010 que calcula las depreciacionnes de los activos fijos.'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--deprecia-bg',
            'Deprecia Fácil',
            'Aplicación en Excel que elabora libro de compras y ventas de IVA para contribuyentes ordinarios y especiales.'
        )(class="col-sm-4 col-sm-offset-8")
            block button
                a(href="" class="solc-red-btn") Agregar al carrito
        
        +productArticle(
            'deprecia-sec01',
            'Poder de trabajo',
            [
                'Disponer una lista de los activos fijos de la empresa que asistes.',
                'Realizar depreciaciones en los periodos que más le convenga: mensual, trimestral, anual, etc.',
                'Puede indicar una fecha de inicio de depreciación distinta a la fecha de adquisición.',
                'Permite incluir las cuentas contables de depreciación acumulada y depreciación del ejercicio por partida de activo fijo.'
            ]
        )(class="fr col-sm-6")
            a(href="" class="solc-red-btn") Agregar al carrito

        +productArticle(
            'deprecia-sec02',
            'Casos especiales',
            [
                'Manejar valores de rescate o salvamiento.',
                'Puede indicar una fecha de inicio de depreciación distinta a la fecha de adquisición.',
                'Puede incluir código alternativo de activo.'
            ],
            '.col-sm-offset-6 solc-product-article-fr'
        )(class="fl col-sm-6")
            p Bs. 80.000 incluye IVA

        +productArticle(
            'deprecia-sec03',
            'Reportes y manejos de datos',
            [
                'Genera reporte de activos fijos y sus depreciaciones  Excel o PDF. Listo para para compartir, con los clientes o con tu equipo de trabajo.',
                'Elaborar los asientos para su registro contable y pueden ser compartidos en PDF.',
                'Exporta e importa los datos (respaldo).',
                'Deprecia Fácil 2017 exporta datos para ser importados en  Fiscalito y Contadito.'
            ]
        )(class="fr col-sm-6")
            p Bs. 45.000 incluye IVA
            a(href="" class="solc-red-btn") Agregar al carrito

        section.container.text-center.solc-product--container
            ul.solc-product-feature
                +productFeature(
                    'feature-accesible-red',
                    'Accesibles',
                    'Solo pagas por una licencia de uso*, costando solo una fracción de la competencia. Es Multiempresa.'
                )
                +productFeature(
                    'feature-facil-red',
                    'Fáciles',
                    'Tus datos se cargan con facilidad. Incluye manual de usuario.'
                )
                +productFeature(
                    'feature-confiable-red',
                    'Confiables',
                    'Resultados precisos. Puedes respaldar tus datos. Soporte telefónico y por email.'
                )
                +productFeature(
                    'feature-rapido-red',
                    'Rápidos',
                    'No requiere incluir catálogo de cuentas ni configuraciones previas. Solo requerirás incluir una sola vez los datos para obtener todo lo que necesitas.'
                )
                +productFeature(
                    'feature-flexible-red',
                    'Flexibles',
                    'Puede cambiar el nombre de cada una de las cuentas del balance e incluir detalles en los auxiliares de cada partida. '
                )
            a(href="" class="solc-red-btn solc-btn-large dib") Agregar al carrito

    include ../../layout/_footer
    include ../../layout/_scripts