extends ../../layout/_header

block append config
    -var pageTitle = 'Fiscalito Jumping'
    -var pageDescription = 'Hoja de cálculo formulada en Microsoft Excel 2010 que elabora los cálculos de ajuste por inflación fiscal conforme lo establece la Ley de impuesto.'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--fiscalito-bg',
            'Fiscalito Jumping',
            'Aplicación en Excel que elabora libro de compras y ventas de IVA para contribuyentes ordinarios y especiales.'
        )(class="col-sm-4 col-sm-offset-8")
            block button
                a(href="" class="solc-red-btn") Agregar al carrito
        
        +productArticle(
            'fiscalito-sec01',
            'Poder de trabajo',
            [
                'Elabore un reajuste por inflación y todo lo necesario para una declaración en tan solo 30 minutos.',
                'Prepare la conciliación fiscal y determina en definitiva el monto de impuesto por pagar en el ejercicio gravable.',
                'Elabora el balance ajustado por inflación.',
                'Crea el borrador de la planilla para su declaración.',
                'Calcula la estimada del Impuesto Sobre la Renta, pudiendo seleccionar el número de cuotas en que desea pagarlo.',
                'Para personas jurídicas y naturales.'
            ]
        )(class="fr col-sm-6")

        +productArticle(
            'fiscalito-sec02',
            'Casos especiales',
            [
                'Modele con naturalidad los aumentos y disminuciones patrimoniales y observe su impacto sobre la renta.',
                'Trabaje las exclusiones fiscales históricas al patrimonio sin dificultad con Fiscalito Jumping.',
                'Genera la exclusión del sistema de ajuste por inflación fiscal.'
            ],
            '.col-sm-offset-6 solc-product-article-fr'
        )(class="fl col-sm-6")
            p Bs. 95.000 incluye IVA
            a(href="" class="solc-red-btn") Agregar al carrito

        +productArticle(
            'fiscalito-sec03',
            'Reportes y manejos de datos',
            [
                'Genera Libros especial de ajuste por inflación fiscal conforme a los requerimientos indicados en el Reglamento del Impuesto Sobre la Renta. Listo para imprimir, disponible en Excel para compartir, con los clientes o con tu equipo de trabajo.',
                'Exporta a PDF con un solo clic la planilla DPJ y DPN. Haciéndolo más fácil poderlo compartir con tus clientes y equipo de trabajo.',
                'Exporta e importa los datos (respaldo),  para avanzar con rapidez cada año de trabajo.',
                'Puede importar los activos de Deprecia Fácil 2017  y de Contadito'
            ]
        )(class="fr col-sm-6")

        section.container.text-center.solc-product--container
            ul.solc-product-feature
                +productFeature(
                    'feature-accesible',
                    'Accesibles',
                    'Solo pagas por una licencia de uso*, costando solo una fracción de la competencia. Es Multiempresa.'
                )
                +productFeature(
                    'feature-facil',
                    'Fáciles',
                    'Tus datos se cargan con facilidad. Incluye manual de usuario.'
                )
                +productFeature(
                    'feature-confiable',
                    'Confiables',
                    'Resultados precisos. Puedes respaldar tus datos. Soporte telefónico y por email.'
                )
                +productFeature(
                    'feature-rapido',
                    'Rápidos',
                    'No requiere incluir catálogo de cuentas ni configuraciones previas. Solo requerirás incluir una sola vez los datos para obtener todo lo que necesitas.'
                )
                +productFeature(
                    'feature-flexible',
                    'Flexibles',
                    'Puede cambiar el nombre de cada una de las cuentas del balance e incluir detalles en los auxiliares de cada partida. '
                )
            a(href="" class="solc-red-btn solc-btn-large dib") Agregar al carrito


    include ../../layout/_footer
    include ../../layout/_scripts