extends ../../layout/_header

block append config
    -var pageTitle = 'Histori Conti'
    -var pageDescription = 'Hoja de cálculo elaborada en Microsoft Excel 2010, formula los estados financieros en cifras nominales (históricas), tal como lo establece NIIF-PYME'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--histori-bg',
            'Histori Conti',
            'Hoja de cálculo elaborada en Microsoft Excel 2010, formula los estados financieros en cifras nominales (históricas), tal como lo establece NIIF-PYME.'
        )(class="col-sm-4 col-sm-offset-8")
            block button
                a(href="" class="solc-red-btn") Agregar al carrito
        
        +productArticle(
            'histori-sec01',
            'Poder de trabajo',
            [
                'Formula el estado situación financiero, el estado de resultados, el flujo del efectivo, el estado de movimientos de las cuentas de patrimonio.',
                'Elabora los balances antes y después del aumento del capital social y genera reporte casi listo para entregar.',
                'No requiere configuración previa.',
                'Solo requerirás incluir una sola vez los datos para obtener todo lo que necesitas.'
            ]
        )(class="fr col-sm-6")

        +productArticle(
            'histori-sec02',
            'Casos especiales',
            [
                'Determine el impuesto diferido y maneje valor razonable de propiedades de inversión y en inversiones en asociadas.',
                'Puede incluir las revaluaciones de propiedad, planta y equipo.',
                'Modele con naturalidad corrección de errores de ejercicios anteriores,  aumentos de capital y decretos de dividendos.'
            ],
            '.col-sm-offset-6 solc-product-article-fr'
        )(class="fl col-sm-6")
            p Bs. 45.000 incluye IVA
            a(href="" class="solc-red-btn") Agregar al carrito

        +productArticle(
            'histori-sec03',
            'Reportes legales y manejos de datos',
            [
                'Genere estados financieros comparativos (históricos), casi listos para entregar.',
                'Crea notas básicas con un clic.',
                'Dispone de modelo de notas en Word conforme a NIIF-PYMES.',
                'Exporta e importa los datos (respaldo),  para avanzar con rapidez cada año de trabajo.'
            ]
        )(class="fr col-sm-6")

        section.container.text-center.solc-product--container
            ul.solc-product-feature
                +productFeature(
                    'feature-accesible',
                    'Accesibles',
                    'Solo pagas por una licencia de uso*, costando solo una fracción de la competencia. Es Multiempresa.'
                )
                +productFeature(
                    'feature-facil',
                    'Fáciles',
                    'Tus datos se cargan con facilidad. Incluye manual de usuario.'
                )
                +productFeature(
                    'feature-confiable',
                    'Confiables',
                    'Resultados precisos. Puedes respaldar tus datos. Soporte telefónico y por email.'
                )
                +productFeature(
                    'feature-rapido',
                    'Rápidos',
                    'No requiere incluir catálogo de cuentas ni configuraciones previas. Solo requerirás incluir una sola vez los datos para obtener todo lo que necesitas.'
                )
            a(href="" class="solc-red-btn solc-btn-large dib") Agregar al carrito

    include ../../layout/_footer
    include ../../layout/_scripts