extends ../../layout/_header

block append config
    -var pageTitle = 'Login'
    -var pageDescription = 'Ingresa a tu cuneta de Soluciones Contables o crea una nueva.'
    -var baseDir = '../'
block header
    
block mainContent
    main.content-wrapper
        .container.portal-login-form--container
            .portal-login-info.col-sm-4
                .portal-login-info--header
                    img(src=baseDir+"img/logo-solcon-white.png" alt="")
                .portal--login-info--text
                    h2.hidden-xs Bienvenidos
                    p.hidden-xs Con Soluciones contables la gestión contable nunca fue tan facil
                    a(href="registro.html" class="solc-white-btn solc-btn-large hidden-xs dib" title="Registrar") Registrar
                    p.small.hidden-xs si aún estas registrado accede a tu cuenta desde acá
            .portal-login-form.col-sm-8
                a.pull-right.portal-home--link(href=baseDir+"index.html") volver al portal
                .portal-login-form--ing
                    form(action="")
                        .form-group
                            label(for="Dirección de correo") Dirección de correo
                            input.form-control(type="text")
                        .form-group
                            label(for="Contraseña") Contraseña
                            input.form-control(type="password")
                        p.portal-login-form--ing-terms
                            input(type="checkbox" id="ncs")
                            label(for="ncs") <span></span> No cerrar sesión
                            a.pull-right.portal-login-form--link(href="") ¿Olvidaste tu contraseña?
                        div.text-center 
                            input(type="submit" class="solc-red-btn solc-btn-large" value="Ingresar")
                            a.small.db.portal-login-form--link(href="") ¿Aún no tienes cuenta?

    include ../../layout/_scripts