extends ../../layout/_header

block append config
    -var pageTitle = 'Mach Point'
    -var pageDescription = 'Hoja de cálculo elaborada en Microsoft Excel 2010, formula los estados financieros en cifras nominales (históricas), tal como lo establece NIIF-PYME'
    -var baseDir = '../'
block mainContent
    main.content-wrapper
        +productBanner(
            'solc-product--mach-bg',
            'Mach Point',
            'Hoja de cálculo elaborada en Microsoft Excel 2010 de doble propósito, planificación fiscal y desempeño financiero. Una excelente herramienta para ofrecer valor a sus clientes o departamentos de contabilidad a la gerencia.'
        )(class="col-sm-4")
            block button
                a(href="" class="solc-red-btn") Agregar al carrito
        
        +productArticle(
            'mach-sec01',
            'Poder de trabajo',
            [
                'Proyecta las cifras contables estimando el ISLR, causado y por pagar.',
                'Considera los diferentes escenarios del ISLR, ajuste por inflación fiscal, anticipos de impuestos (estimada y retenciones), excedentes no compensados y no deducibles.',
                'Con Mach Point puede brindar información financiera mes a mes o trimestre a trimestre del desempeño financiero de la empresa. Ratios de liquides, márgenes de ganancia, rotación del inventario, rendimiento, endeudamiento, gráficos y comparaciones mes a mes o trimestre a trimestre.'
            ]
        )(class="fr col-sm-6")

        +productArticle(
            'mach-sec02',
            'Casos Especiales',
            [
                'Estime la inflación del año sometido al estudio.',
                'Maneje hasta tres escenarios que usted considere pertinente, como ventas, gastos operativos, sueldos directivos, costos de ventas y no deducibles de forma dinámica, rápida y muy agradable.',
                'Modele con naturalidad los aumentos y disminuciones patrimoniales y observe su impacto sobre la renta'
            ],
            '.col-sm-offset-6 solc-product-article-fr'
        )(class="fl col-sm-6")

        +productArticle(
            'mach-sec03',
            'Reportes y manejo de datos',
            [
                '¿Cuánto impuesto pagaré en este ejercicio que está corriendo? ¿Si el margen de utilidad bruta aumenta o disminuye cómo será el efecto sobre los resultados y el impuesto? ¿Hasta dónde puede aumentar los sueldos directivos? Son preguntas que usted podrá responder con certeza atendiendo a los escenarios que maneje.',
                'Genere reporte de cuadros en Excel y PDF. Listo para para compartir con los clientes y equipo de trabajo.'
            ]
        )(class="fr col-sm-6")
            p Bs. 85.000 incluye IVA
            a(href="" class="solc-red-btn") Agregar al carrito

        section.container.text-center.solc-product--container.mach-sec02
            ul.solc-product-feature
                +productFeature(
                    'feature-accesible',
                    'Accesibles',
                    'Solo pagas por una licencia de uso*, costando solo una fracción de la competencia. Es Multiempresa.'
                )
                +productFeature(
                    'feature-facil',
                    'Fáciles',
                    'Tus datos se cargan con facilidad. Incluye manual de usuario.'
                )
                +productFeature(
                    'feature-confiable',
                    'Confiables',
                    'Resultados precisos. Puedes respaldar tus datos. Soporte telefónico y por email.'
                )
                +productFeature(
                    'feature-rapido',
                    'Rápidos',
                    'No requiere incluir catálogo de cuentas ni configuraciones previas. Solo requerirás incluir una sola vez los datos para obtener todo lo que necesitas.'
                )
                +productFeature(
                    'feature-flexible',
                    'Flexibles',
                    'Puede cambiar el nombre de cada una de las cuentas del balance e incluir detalles en los auxiliares de cada partida. '
                )

            a(href="" class="solc-red-btn solc-btn-large dib") Agregar al carrito


    include ../../layout/_footer
    include ../../layout/_scripts