extends ../../layout/_header

block append config
    -var pageTitle = 'Registro'
    -var pageDescription = 'Ingresa a tu cuneta de Soluciones Contables o crea una nueva.'
    -var baseDir = '../'
block header
    
block mainContent
    main.content-wrapper
        .container.portal-login-form--container
            .portal-login-info.portal-reg.col-sm-4
                .portal-login-info--header
                    img(src=baseDir+"img/logo-solcon-white.png" alt="")
                .portal--login-info--text
                    h2.hidden-xs Bienvenidos
                    p.hidden-xs Con Soluciones contables la gestión contable nunca fue tan facil
                    a(href="login.html" class="solc-white-btn solc-btn-large hidden-xs dib") iniciar sesión
                    p.small.hidden-xs si estas registrado accede a tu cuenta desde acá
            .portal-login-form.col-sm-8
                a.pull-right.portal-home--link(href=baseDir+"index.html") volver al portal
                .portal-login-form--reg
                    form(action="")
                        .form-group.col-sm-6.portal-login-form--reg__space
                            label(for="Nombre") Nombre
                            input.form-control(type="text")
                        .form-group.col-sm-6
                            label(for="Apellido") Apellido
                            input.form-control(type="text")
                        .form-group.col-sm-6.portal-login-form--reg__space
                            label(for="Dirección de correo") Dirección de correo
                            input.form-control(type="text")
                        .form-group.col-sm-6
                            label(for="Celular") Celular
                            input.form-control(type="text")
                        .form-group.col-sm-6.portal-login-form--reg__space
                            label(for="Contraseña") Contraseña
                            input.form-control(type="text")
                        .form-group.col-sm-6
                            label(for="Confirmar Contraseña") Confirmar Contraseña
                            input.form-control(type="text")
                        p.portal-login-form--reg-terms
                            input(type="checkbox" id="atc")
                            label(for="atc") <span></span> Acepto los términos del servicio.
                        div.text-center
                            input(type="submit" class="solc-primary-btn solc-btn-large" value="Registrar")

    include ../../layout/_scripts