.amable-conti,
.program-help,
.creativa,
.histori-conti,
.fiscalito,
.deprecia-facil,
.mach-point,
.contadito {
    @extend %section-height;
    padding-top: 30px;
}
.amable-conti{
    background: linear-gradient(#7bcabf, white);
    padding-top: 60px;
    &--img-dr{
        margin-top: -50px;
        @include MQ(XL){
            padding-right: 160px;
        }
    }
    &--article{
        @include MQ(XL){
            padding-left: 60px;
        }
    }
}
.program-help{
    padding-top: 60px;
    height: 260px;
    min-height: 250px;
    &--subtitle{
        font-size: 1.3em;
    }
}
.creativa{
    &--article{
        @include MQ(L){
            padding-top: 60px;
        }
    }
    @include MQ(S){
        height: 317px;
        min-height: 270px;
    }
}
.histori-conti{
    background: fn-url('histori-bg.jpg') no-repeat;
    background-size: cover;
    background-position: right 0 top 0;
}
.fiscalito{
    height: 317px;
    min-height: 270px;
    &--img{
        margin-top: -30px;
    }
}
.deprecia-facil{
    background: fn-url('deprecia-bg.jpg') no-repeat;
    background-size: cover;
    background-position: right 0 bottom 0;
}
.mach-point{
    height: 317px;
    min-height: 270px;
}
.contadito{
    height: 317px;
    min-height: 270px;
    background: #faf4f4 fn-url('contadito-bg.jpg') no-repeat;
    background-size: contain;
    background-position: right 0 bottom 0;
    @include MQ(S){
        background: #faf4f4;
    }
}