mixin slides(image, title, caption)
    .item.text-center&attributes(attributes)
        img(src=image , alt=title)
        .carousel-caption
            h2.title__display= title
            p= caption

mixin article(header,title, caption, price)
    if header == ''
        article&attributes(attributes)
            h2.title__regular= title
            p= caption
            p= price
            block
    else
        article&attributes(attributes)
            header
                p.article-header--txt!= header
            h2.title__regular= title
            p= caption
            p= price
            block

mixin productBanner(bg,title,text)
    section(class=bg+" solc-product--container container-fluid")
        article.container
            .solc-article-wrapp&attributes(attributes)
                h2.solc-article--title=title
                p.solc-article--text=text
                block button
                    a(href=baseDir+title+".html" title=title class=title+" solc-primary-btn dib") Añadir al carrito

mixin productArticle(img, title, list, float)
    section(class="solc-product--"+img+" solc-product--container container-fluid")
        img(src="../img/"+img+".png" alt=title class="solc-product--img hidden-xs js-rv")&attributes(attributes)
        article.container
            .solc-product-article--wrapp.col-sm-6(class=float)
                h3.solc-product-article--title=title
                ul.solc-product-article--list
                    each linkText in list
                        li.solc-product-article--item
                            p=linkText
                block

mixin productFeature(img, title, text)
    li.solc-product-feature-item
        img(src="../img/"+img+".png", alt=title)
        h3.solc-product-feature--title.title__display=title
        p.solc-product-feature--txt=text