extends ../layout/_header

block append config
    -var pageTitle = 'Portal'
    -var pageDescription = 'Bienvenidos a Soluciones Contables'
    -var linkSrc = 'pages/'
block mainContent
    main.content-wrapper
        include ../layout/_pr-slide

        section.amable-conti
            img(src="img/conti-iz.png" alt="Amable Conti" class="fl hidden-xs hidden-sm hidden-md amable-conti--img-iz js-rv")
            img(src="img/conti-dr.png" alt="Amable Conti" class="fr hidden-xs amable-conti--img-dr js-rv")
            .container
                //- header, title, caption, price
                +article(
                    'Hemos incursionado en la <strong>plataforma on-line</strong> ahora cuentas con servicios que estarán activos desde cualquier dispositivo que poseas con conexión a internet.',
                    'Amable conti',
                    'Hoja de cálculo formulada en Microsoft Excel 2010 que calcula las depreciaciones de los activos fijos.',
                    'Bs. 45.250 Incluye IVA'
                )(class="col-sm-7 col-md-6 amable-conti--article")
                    a(href='amable.html', title='Amable Conti' class="solc-primary-btn") Leer más
        section.program-help
            img(src="img/program-help.png" alt="Amable Conti" class="fr hidden-xs js-rv")
            .container
                article(class="col-sm-7 col-md-6 col-lg-offset-1")
                    h2.title__display.
                        Tenemos los productos que te aportarán la ayuda necesaria
                    p.
                        para tus clientes o tu equipo de trabajo, podrás desarrollarte cada vez más como profesional.
                    h3.program-help--subtitle.
                        Te mostramos todos los productos que hemos desarrollado a partir de Microsoft Excel 2010.

        section.creativa
            img(src="img/creativa.png" alt="Amable Conti" class="fl hidden-xs hidden-sm js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'CreatIVA',
                    'Aplicación en Exel que elabora libro de compras y ventas de IVA para contribuyentes ordinarios y especiales.',
                    'Bs. 71.179 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1 creativa--article")
                    a(href='creativa.html', title='CreatIVA' class="solc-primary-btn") Leer más

        section.histori-conti
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Histori Conti',
                    'Hoja de cálculo elaborada en Microsoft Excel 2010, formula los estados financieros en cifras nominales (históricas), tal como lo establece NIIF-PYME',
                    'Bs. 58.327 Incluye IVA'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='histori.html', title='Histori Conti' class="solc-primary-btn") Leer más

        section.fiscalito
            img(src="img/jump.png" alt="Fiscalito Jumping" class="fl hidden-xs hidden-sm fiscalito--img js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Fiscalito Jumping',
                    'Hoja de cálculo formulada en Microsoft Excel 2010 que elabora los cálculos de ajuste por inflación fiscal conforme lo establece la Ley de impuesto.',
                    'Bs. 90.500 Incluye IVA'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='fiscalito.html', title='Fiscalito Jumping' class="solc-primary-btn") Leer más

        section.deprecia-facil
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Deprecia Fácil',
                    'Hoja de cálculo formulada en Microsoft Exel 2010 que calcula las depreciacionnes de los activos fijos.',
                    'Bs. 42.250 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='deprecia.html', title='Deprecia Fácil' class="solc-primary-btn") Leer más

        section.mach-point
            img(src="img/mach.jpg" alt="Fiscalito Jumping" class="fl hidden-xs hidden-sm fiscalito--img js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Mach Point',
                    'Planificación fiscal (ISLR)',
                    'Bs. 42.250 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='mach.html', title='Mach Point' class="solc-primary-btn") Leer más

        section.contadito
            img(src="img/contadito-bici.png" alt="Contadito Jireh" class="fr hidden-xs hidden-sm fiscalito--img js-rv")
            .container
                //- header, title, caption, price
                +article(
                    '',
                    'Contadito Jireh',
                    'Hoja de cálculo elaborada en Microsoft Excel 2010, calcula el ajuste por inflación financiera conforme al método costo histórico, tal como lo establece NIIF-PYME.',
                    'Bs. 90.500 incluye IVA.'
                )(class="col-sm-7 col-md-6 col-lg-offset-1")
                    a(href='contadito.html', title='Contadito Jireh' class="solc-primary-btn") Leer más

    include ../layout/_footer
    include ../layout/_scripts