.solc-product {
    &--container {
        //@extend %no-margin;
        padding: 65px 0;
    }

    &--img {
        @extend %no-margin;
        max-width: 650px;
    }

    &-feature {
        display: table;
        list-style-type: none;
        &-item {
            padding: 5px;
            @include MQ(M) {
                float: left;
            }
        }
    }

    &-article{
        &--wrapp {
            @include MQ(L) {
                padding: 25px 0;
            }
        }

        &-fr {
            @include MQ(M) {
                padding-left: 55px;
            }
        }

        &--list {
            padding-left: 0;
        }

    }
    &--contadito {
        &-bg {
            color: white;
            background: fn-url('contadito-bg-product.jpg') no-repeat center center;
            background-size: cover;
            @include MQ(M) {
                min-height: 650px;
            }
        }

        &-sec01,
        &-sec03 {
            background: $gradient-yellow-green;
        }
    }
    &--creativa {
        &-bg {
            background: fn-url('creativa-bg-product.jpg') no-repeat center center;
            background-size: cover;
            @include MQ(M) {
                min-height: 650px;
            }
        }

        &-sec02,
        &-sec04 {
            background: $gradient-red-yellow;
        }
        
    }
    &--deprecia {
        &-bg {
            background: fn-url('deprecia-bg-product.jpg') no-repeat center center;
            background-size: cover;
            @include MQ(M) {
                min-height: 650px;
            }
        }

        &-sec01,
        &-sec03 {
            background: $gradient-yellow-green;
        }
        
    }
    &--fiscalito{
        &-bg {
            background: fn-url('fiscalito-bg-product.jpg') no-repeat center center;
            background-size: cover;
            @include MQ(M) {
                min-height: 650px;
            }
        }

        &-sec01,
        &-sec03 {
            background: $gradient-yellow-green;
        }
        
    }
    &--histori{
        &-bg {
            background: fn-url('histori-bg-product.jpg') no-repeat center center;
            background-size: cover;
            @include MQ(M) {
                min-height: 650px;
            }
        }

        &-sec01,
        &-sec03 {
            background: $gradient-yellow-green;
        }
        
    }
    &--mach{
        &-bg {
            background: fn-url('mach-bg-product.jpg') no-repeat center center;
            background-size: cover;
            @include MQ(M) {
                min-height: 650px;
            }
        }

        &-sec02,
        &-sec04 {
            background: $gradient-yellow-green;
        }
        
    }
}
.solc-article--text{
    font-weight: $font-regular;
}