footer.site-footer
    .container
        .footer--networks
            h4 Síguenos
        .col-sm-4
            h3 Dirección
            p Carrera 18 c/calle 26, <br>CC Atlántico 2 <br>Nivel oficina B-7 <br>Barquisimeto - Venezuela
        .col-sm-4
            h3 Teléfono
            p 0412-303.93.19 <br>0414-527.80.75 <br>0412-303.93.16 <br>0251-935.75.52
        .col-sm-4
            h3 Email
            p contacto@solucioneslmv.com
            strong.db Suscribete a nuestro boletín
            input(type="text")

.modal.fade#contactoModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            h4 Contenido del modal