//- Menu map
-var menu = { 'Portal':baseDir+'index.html', 'Productos': '', 'Talleres': '', 'Login':linkSrc+'login.html', 'Blog':'','Contacto':'' };
//- Submennu map
block submenu
    -var subMenu = {'Amable Conti':linkSrc+'amable.html', 'Contadito':linkSrc+'contadito.html', 'CreatIVA':linkSrc+'creativa.html', 'Deprecia Facil':linkSrc+'deprecia.html', 'Fiscalito Jumping':linkSrc+'fiscalito.html', 'Histori Conti':linkSrc+'histori.html', 'MatchPoint':linkSrc+'mach.html'}
// Primary nav
nav.navbar.navbar-default
    header.navbar-header
        button.navbar-toggle.collapsed.hamburger.hamburger--collapse(type="button" data-toggle="collapse" data-target="#primary-nav")
            span.hamburger-box
                span.hamburger-inner
        a.navbar-brand(href=baseDir+"index.html")
            img(src=baseDir+"img/logo-solcon.png", alt="Soluciones Contables")
    .collapse.navbar-collapse#primary-nav
        ul.nav.navbar-nav
            each linkValue, linkTitle in menu
                if linkTitle === 'Productos'
                    li.js-dropdown
                        a.selected.dropdown-toggle(href=linkValue, title=linkTitle, data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")= linkTitle
                            span.caret
                        ul.dropdown-menu
                            each sublinkValue, sublinkTitle in subMenu
                                li
                                    if pageTitle === sublinkTitle
                                        a.selected(href=sublinkValue, title=sublinkTitle)= sublinkTitle
                                    else
                                        a(href=sublinkValue, title=sublinkTitle)= sublinkTitle
                else
                    li
                        if pageTitle === linkTitle
                            a.selected(href=linkValue, title=linkTitle)= linkTitle
                        else if linkTitle === 'Contacto'
                            a(href=linkValue, title=linkTitle, data-toggle="modal", data-target="#contactoModal")= linkTitle
                        else
                            a(href=linkValue, title=linkTitle)= linkTitle