section.slides
    #primary-slides.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
            each i in [0,1,2]
                if i==0
                    li(class="active" data-target="#primary-slides" data-slide-to=""+i)
                else
                    li(data-target="#primary-slides" data-slide-to=""+i)
        .carousel-inner(role="listbox")
            +slides(
                'https://unsplash.it/g/1280/500/?image=121', 'Nuestros productos son',
                'Fáciles de usar ya que esta hecho sobre las aplicacione más populares del mercado.'
                )(class="active")
            +slides(
                'https://unsplash.it/g/1280/500/?image=563', 'Nuestros productos son',
                'Fáciles de usar ya que esta hecho sobre las aplicacione más populares del mercado.'
                )
            +slides(
                'https://unsplash.it/g/1280/500/?image=1001', 'Nuestros productos son',
                'Fáciles de usar ya que esta hecho sobre las aplicacione más populares del mercado.'
                ) 